<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carrito</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    <style>
            /*!
        * Start Bootstrap - Shop Homepage (https://startbootstrap.com/templates/shop-homepage)
        * Copyright 2013-2020 Start Bootstrap
        * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-shop-homepage/blob/master/LICENSE)
        */

        body {
        padding-top: 56px;
        background: #76b852;
        }

        .navbar{
            background-color: #15926C;
        }
        #footer {
           position:fixed;
           left:0px;
           bottom:0px;
           height:30px;
           width:100%;
           background:#999;
        }
        #cuenta{
            background: #76b852;
        }

        .nav-link {
          display: block;
          padding: 0rem;
        }
  </style>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index">VITASHOP</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index" th:href="@{/index}">Home
                        <span class="fi-account-logout"></span>
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user nav-link"></i><span th:text="${#authentication.getPrincipal().getNombre()}">Mi Cuenta</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="cuenta">
                        <a class="dropdown-item" href="/user/" th:href="@{/user/}">Mi Cuenta</a>
                        <span sec:authorize="hasRole('ROLE_ADMIN')">
              <a class="dropdown-item" href="/admin/" th:href="@{/admin/}">Zona Privada</a>
              </span>
                        <a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item">Salir</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="carrito" th:href="@{/carrito}">Carrito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="alimentacion" th:href="@{/alimentacion}">Tienda</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link" href="/login" th:href="@{/login}">Inicio Sesión/Registro</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <h1>Productos en carrito</h1>
    <p>Nº de productos en carrito <span th:text="${numProductosDiferentes}"></span></p>
    <p>Nº de unidades en carrito <span th:text="${numUnidades}"></span></p>
    <table>
        <thead>
        <tr>
            <th>Unidades</th>
            <th>Nombre</th>
            <th>Precio unitario</th>
            <th>Subtotal</th>
            <th>Operaciones</th>
        </thead>
        <tbody>
        <tr th:each="entry : ${carrito}">
            <td th:text="${entry.value}">1</td>
            <td th:text="${entry.key.nombre}">Nombre</td>
            <td style="text-align: right;" th:text="${#numbers.formatCurrency(entry.key.precio)}">1.23€</td>
            <td style="text-align: right;" th:text=${#numbers.formatCurrency(entry.key.precio*entry.value)}></td>
            <td><a th:href="@{/carrito/remove/{id}(id=${entry.key.id})}">Eliminar del carrito</a></td>
        </tr>
        </tbody>
    </table>
    <p>Importe total de los productos <span th:text="${#numbers.formatCurrency(importeTotal)}"></span></p>
    <p><a th:href="@{/}">Seguir comprando</a> | <a th:href="@{/carrito/clear}">Vaciar carrito</a></p>
    <p><a th:href="@{/carrito/process}">FINALIZAR COMPRA</a></p>

<!-- Footer -->
<footer class="py-5 bg-dark" id="footer">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; VitaShop 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>