<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Home</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  

  <style>


        body {
        padding-top: 56px;
        background: #76b852;
        }

        .navbar{
            background-color: #15926C;

        }
        #footer {
           position:fixed;
           left:0px;
           bottom:0px;
           height:30px;
           width:100%;
           background:#999;
        }
        #cuenta{
            background: #15926C;
        }

        .nav-link {
          display: block;
          padding: 0rem;
        }

  </style>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="index">VITASHOP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index" th:href="@{/index}">Home
                <span class="fi-account-logout"></span>
            </a>
          </li>
          <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user nav-link"></i><span th:text="${#authentication.getPrincipal().getNombre()}">Mi Cuenta</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="cuenta">
              <a class="dropdown-item" href="/user/" th:href="@{/user/}">Mi Cuenta</a>
              <span sec:authorize="hasRole('ROLE_ADMIN')">
              <a class="dropdown-item" href="/administracion/" th:href="@{/administracion/}">Zona Privada</a>
              </span>
              <a th:href="@{logout}" class="dropdown-item">Salir</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="carrito" th:href="@{/app/carrito}">Carrito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="listado" th:href="@{/app/listado}">Mis pedidos</a>
          </li>
          <li sec:authorize="isAnonymous()" class="nav-item">
            <a class="nav-link" href="/login" th:href="@{/login}">Inicio Sesión/Registro</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>



  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">CATEGORÍAS</h1>
        <div class="list-group">
          <a href="alimentacion" th:href="@{/alimentacion}"  class="list-group-item">Alimentación</a>
          <a href="deportes" th:href="@{/deportes}" class="list-group-item" >Deporte</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block img-fluid" src="http://placehold.it/900x350" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>





        <div class="row">

          <div class="col-lg-4 col-md-6 mb-4" th:each="producto : ${productos}">
            <div class="card h-100">
              <!--
            <a href="#"><img class="card-img-top" alt="foto"></a>
            -->
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#" th:text="${producto.nombre}">Item One</a>
                </h4>
                <h5 th:text="${#numbers.formatCurrency(producto.precio)}">€</h5>
              </div>
              <div class="card-footer">
                <div sec:authorize="isAuthenticated()">
                  <a th:href="@{/app/carrito/add/{id}(id=${producto.id})}" class="pull-right btn btn-success btn-product"><span
                          class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Comprar</a>
                </div>
              </div>
            </div>
          </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <br><br><br><br>
  <footer class="py-5 bg-dark" id="footer">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; VitaShop 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
